.page{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
max-width: 800px;

}
main{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
h1{
    text-align: center;
}
form{
    display:flex;
    justify-content: center;
   align-items: center;
}
.movies{
    list-style: none;
    margin: 0;
    padding: 0;
    display:grid;
    width:100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}
.movie{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 
.movie h3, .movie p{
    margin: 0;
}